<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
  <div class="col-9">
    <h4 class="mb-1">
      {{athlet['nachname']}} {{athlet['vorname']}}
    </h4>
      <div>
        <b>
          G-datum:
        </b>
          {{athlet['geburtsdatum']}}
      </div>
  </div>
  <div class="col-3">
    <a href="mailto:email@example.com?cc=secondemail@example.com, anotheremail@example.com, &bcc=lastemail@example.com&subject=Mail from our Website&body=Some body text here">Send Email
    </a>
  </div>
</div>  