<!DOCTYPE html>
<html>
<head>
  <title>SwimData</title>
  {% include 'bootstrap.html' %}
</head>
  
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        Swim Data Athletes
      </h1>    
      <div class="row">
        <div class="col-md-6">  
          <p class="lead">
            <a href="/athletes" 
              type="button"
              class="btn btn-outline-primary float-right align-middle">
              Athletes
            </a>
            <a href="/times" 
              type="button"
              class="btn btn-outline-info float-right align-middle">
              Times
            </a>             
          </p>
        </div>
        <div class="d-none d-md-block col-md-6">  
          <img class="img-fluid" id="banner" src="/static/swimmer.jpg">
        </div>
      </div>      
      <div class="text-center">
        <button class="btn btn-primary btn-large">
          Contact us
        </button>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>