<!DOCTYPE html>
<html>
<head>
  <title>Time submitted</title>
  {% include 'bootstrap.html' %}
</head>

  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
      <div class="container">
         <h1 class="text-center mt-2 mb-4">
          Swim Data Athletes
        </h1>      
        <p>Diese Zeit von "{{athlete['nachname']}} {{athlete['vorname']}}" wurde geschickt</p>
        
        <h4>Swim Event</h4>
        <div>{{application['swimevent']}}</div>       

        <h4>Athelete Card#</h4>
        <div>{{athlete['idAthlete']}}</div>  
        
        <h4>Meet</h4>
        <div>{{application['meet']}}</div>

        <h4>Swim time</h4>
        <div>{{application['swimtime']}}</div>
        
        <h4>Swim Type</h4>
        <div>{{application['swimtype']}}</div>
        
         {% include 'footer.html' %}
      </div> 
  </body>
</html>
  